<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Timer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6E11BE51EFCBA1700E02C5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6E11BFD1EFCBA1700E02C5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6E11C081EFCBA1700E02C5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
